*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../media/img/background_byn.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: black;
    color:aliceblue;
    font-size: 0.95em;
    font-weight: 200;
}

legend{
    padding-top: 2em;
    padding-bottom: 1em;
    height: 5em;
    text-align: center;
    font-family: helvetica, verdana, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    font-variant: small-caps;
    letter-spacing: 0.3em;
}

fieldset{
    width: 70vw;
    height: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    border-radius: 15px;
    overflow: hidden;
    border-style: none;
    border-radius: 10px;
    box-shadow: 
    0px 0px 14.9px -11px rgba(0, 0, 0, 0.138),
    0px 0px 26.5px -11px rgba(0, 0, 0, 0.256),
    0px 0px 35.6px -11px rgba(0, 0, 0, 0.345),
    0px 0px 43.4px -11px rgba(0, 0, 0, 0.51),
    0px 3px 5px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.4);
    color:aliceblue;
}

#opciones1{
    margin-top: -0.8em;
}

hr{
    color: #97fffd52;   
    margin-bottom: 2em;
    border-style: solid;
}

p{
    /*
    color: rgb(89, 183, 172);
    */
    font-size: 1em;
    letter-spacing: 0.05em;
    margin-bottom: 1.1em;
}

#opciones1 > span{
    color: rgb(89, 183, 172);
}

#nombre, #email, #fechanac, 
  .boton_form, .boton1, .boton2 {
    width: fit-content;
    height: 2.2em;
    margin: 10px 5px;
    gap: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(170, 188, 182, 0.5);
    border-style: solid;
    border-width: thin;
    border-color: grey;
    font-size: 0.9em;
    color: rgb(39, 39, 39);
}
#fechanac{
    width: 11em;
}
#email{
    width: 20em;
}

#nombre::placeholder, #email::placeholder,
 #fechanac::placeholder{
    color: rgb(39, 39, 39);
}
#nombre::-webkit-input-placeholder, #email::-webkit-input-placeholder,
 #fechanac::-webkit-input-placeholder{
    color: rgb(39, 39, 39);
}
#nombre::-moz-placeholder, #email::-moz-placeholder,
#fechanac::-moz-placeholder{
   color: rgb(39, 39, 39);
}
#nombre:-moz-placeholder, #email:-moz-placeholder,
#fechanac:-moz-placeholder{
   color: rgb(39, 39, 39);
}
#nombre:-ms-input-placeholder, #email:-ms-input-placeholder,
#fechanac:-ms-input-placeholder{
   color: rgb(39, 39, 39);
}

span{
    margin-left: 0.4em;
}
.span1{
    margin-right: 2.5em;
}
.span0{
    margin-right: 2em;
}
.nombreapellido, .fechanacimiento{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.sexo{
    width: 100%;
}
textarea{
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: rgba(170, 188, 182, 0.5);
    block-size: auto;
    padding: 1em;
    font-size: 1.1em;
    border-width: thin;
}
textarea:focus, textarea:hover, #nombre:hover,
 #nombre:focus, #email:hover, #email:focus,
 #fechanac:hover, #fechanac:focus, .opcion:hover{
    cursor: pointer;
    outline: none;
    background-color: rgba(224, 247, 224, 0.5);
    border-color: rgb(89, 183, 172);
    box-shadow:
    0px 0px 5px rgba(89, 182, 172, 0.297),
    0px 0px 11px rgba(89, 182, 172, 0.328)
    ;
    border-width: thin;
}

textarea:active, textarea:active, #nombre:active,
 #nombre:active, #email:active,
 #fechanac:active, #fechanac:active{
    outline: none;
    border-color: rgba(140, 240, 140, 0.7);
    background-color: rgba(224, 247, 224, 0.7);
}

.boton1, .boton2{
    width: 8em;
    height: 2.4em;
    margin-bottom: 2em;
}
.boton1:hover{
    cursor: pointer;
    transform: scale(1.07, 1.1);
    background-color: rgb(140, 240, 140);
    border-color: rgb(8, 47, 8);
}
.boton2:hover{
    cursor: pointer;
    transform: scale(1.07, 1.1);
    background-color: rgb(175, 175, 175);
    border-color: rgb(76, 76, 76);
}

span{
    color:aliceblue;
    font-size: 1em;
    font-weight: 200;
}

/* animaciones */

@keyframes rebote {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

.boton1:active, .boton2:active {
    animation: rebote 0.25s ease;
}

input[type="radio"] {
    appearance: none; /* Oculta el estilo predeterminado del radio button */
    -webkit-appearance: none; /* Para compatibilidad con navegadores WebKit */
    -moz-appearance: none; /* Para compatibilidad con navegadores Gecko (Firefox) */
    width: 1em; /* Ancho del radio button */
    height: 1em; /* Altura del radio button */
    border: 0.1em solid rgb(89, 183, 172); /* Color y grosor del borde */
    border-radius: 50%; /* Hacer el borde circular */
    outline: none; /* Eliminar el contorno al hacer clic */
    cursor: pointer;
    transform:translateY(0.09em) translateX(-0.2em);
}

input[type="radio"]:checked {
    border-color: rgb(89, 183, 172);
    background-color: rgb(89, 183, 172); /* Color de fondo cuando está marcado */
}

input[type="radio"]:hover {
    border-color: rgb(89, 183, 172);
}

.sexo > input[type="radio"] {
    border: 0.13em solid rgb(207, 207, 207); 
}

.sexo > input[type="radio"]:checked {
    border-color: rgb(144, 144, 144);
    background-color: rgb(144, 144, 144); /* Color de fondo cuando está marcado */
}

input[type="text"], input[type="email"], input[type="date"] {
    font-size: 1em !important;
    font-weight: 500 !important;
    color: black !important;
}

input[type="text"]::placeholder, input[type="email"]::placeholder{
    color: black !important;
    opacity: 1 !important;
}

input[type="submit"], input[type="reset"] {
    height: 2em;
    font-size: 1em;
    opacity: 1 !important;
    margin-top: -0.2em;
}

input[type="submit"]:hover {
    border-color: rgb(41, 137, 41);
    color: rgb(11, 42, 11);
    font-weight: 400;
    box-shadow:
    0px 0px 5.3px rgba(41, 137, 41, 0.297),
    0px 0px 17.9px rgba(41, 137, 41, 0.428),
    0px 0px 80px rgba(41, 137, 41, 0.5)
    ;
}

input[type="reset"]:hover {
    border-color: rgba(91, 17, 17, 0.598);
    color: rgb(81, 22, 22);
    font-weight: 400;
    box-shadow:
    0px 0px 5.3px rgba(167, 20, 20, 0.297),
    0px 0px 17.9px rgba(167, 20, 20, 0.428),
    0px 0px 80px rgba(167, 20, 20, 0.5)
    ;
}

/* QUERIES ESPECIFICOS del Formulario */

@media only screen and (min-width: 1050px){
    #campotexto2, #campotexto3{
        display: none;
    }
    #campotexto{
        display:inline;
    }
    fieldset{
        width: 70vw;
    }
}

@media only screen and (max-width: 1049px) {
    #campotexto2, #campotexto3{
        display: none;
    }
    #campotexto{
        display:inline;
    }
}

@media only screen and (max-width: 950px) {
    #campotexto2, #campotexto3{
        display: none;
    }
    #campotexto{
        display: inline;
    }
    fieldset{
        width: 80vw;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 800px) {
    #campotexto, #campotexto3{
        display: none;
    }
    #campotexto2{
        display: inline;
    }
    fieldset{
        width: 90vw;
        margin-top: 0.5em;
    }
}

@media only screen and (max-width: 530px) {
    #campotexto, #campotexto2{
        display: none;
    }
    #campotexto3{
        display: inline;
    }
    .span1{
        margin-right: 1em;
    }
}

